/* global styles */
html {
  color: #fff;
  background: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
  background: #444;
}

.header, .main, .footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header, .footer {
  background: #333;
}

/* header styles */
.header h1 {
  margin-bottom: 0;
  font-size: 32px;
}

.header p {
  font-size: 16px;
}

/* navigation styles */
.navigation ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  padding-bottom: 0;
}

.navigation ul li {
  padding: 10px;
}

.navigation ul li a {
  text-decoration: none;
  color: #fff;
}

.navigation ul li a:hover,
.navigation ul li a:focus,
.navigation ul li a:active {
  color: #0a0;
}


/* main styles */
.main h3 {
  text-align: center;
}
.main p {
  padding: 0 20px;
}

.main ol, ul {
  text-align: left;
  margin: auto;
  padding-bottom: 20px;
}

.main a {
  text-decoration: none;
  color: #0a0;
}

.main a:hover {
  color: #040;
}

.main a:active {
  color: #0f0
}

/* home section styles */
#home p {
  text-align: left;
}

/* contact form styles */
.contact-form {
  min-width: 90%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form textarea {
  resize: none;
}

.contact-form form textarea, 
.contact-form form input {
  background-color: #777;
  color: #fff;
  margin-bottom: 10px;
}

.contact-form button {
  background-color: #040;
  color: #fff;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* project section styles */
#project img {
  max-width: 100%;
  height: auto;

}

/* footer styles */
.footer {
  height: 80px;
}

.footer p {
  margin: auto;
}

/* media queries for desktop */
@media all and (min-width: 800px) {
  .navigation ul li {
    padding: 10px 20px;
  }
  .main p {
    padding: 0 50px;
  }
  .contact-form {
    width: 50%;
  }
  #home p {
    text-align: left;
  }
}